* {
    margin: 0;
    padding: 0;
}

img {
    /* display: block; */
    max-width: 100%;

}

li {
    list-style: none;
}

body {
    font-family: 'Source Code Pro', monospace;
    background: url(/assets/img/bg.jpg) no-repeat top center;
    /* background-repeat: no-repeat top center; */
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh;
    color: #aeaeae;
}

/* ---------- */

.title {
    font-size: 36px;
    font-weight: normal;
}

.box {
    background: #eee;
    padding: 4rem;
    box-shadow: 2px 2px 16px rgba(0,0,0,0.16);
    border-radius: 50px;
    text-align: center;
    margin-top: 5rem;
}

.profile {
    height: 50vh;
    border-radius: 5%;
    max-width: 100%;
}

.profile-pic {
    border-radius: 50%;
    margin: 0 auto 2rem auto;
}

.profile span {
    font-size: 24px;
}

.profile p {
    font-size: 18px;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.redes-sociais {
    display: flex;
    justify-content: center;
}

.redes-sociais li{
    margin-right: 1rem;
}

.portfolio {
    max-width: 886px;
    /* margin: 8rem 0; */
    box-sizing: border-box;
}

.portfolio ul {
    margin-top: 3rem;
}

.portfolio li {
    display: grid;
    grid-template-columns: 50% 1fr;
    text-align: left;
    gap: 1rem;
    color: #606060;
}

.portfolio li + li{
    margin-top: 2rem;
}

.portfolio img {
    border-radius: 10px;
    max-width: 100%;
}

.portfolio h2 {
    font-weight: normal;
    margin-bottom: 1rem;
}

.portfolio h3 {
    font-weight: normal;
    margin-bottom: 1rem;
    font-size: 25px;
}

.copyright {
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px 16px black;
    margin: 40vh 0;
}

.skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.skills img {
    width: 50px;
}

.skills div.card-skills {
    width: 20rem;
    border-radius: 10px;
    background: #eee;
    padding: 2rem 2rem;
    margin-top: 5rem;
}

h4 {
    padding: 1rem 1rem 2rem 1rem;
    font-size: 25px;
}

/* .button {
    background-color: transparent;
    border: 2px solid #9400d3;
    padding: 0.4rem;
    color: #9400d3;
    font-weight: 600;
    border-radius: 0.2rem;
    width: 330px;
    margin-top: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 1rem;
} */

.hidden {
    display: none;
}

/* --> display:none ( esconde projeto) */